<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">من نحن</h2>
                <hr class="light">
                <p class="text-faded">تأسست شركتنا على أسس الابتكار والجودة، ونسعى دائماً لتحقيق أعلى مستويات التميز في جميع مجالات عملنا. نحن نلتزم بتقديم منتجات وخدمات عالية الجودة تلبي احتياجات عملائنا وتفوق توقعاتهم. من خلال فريق عمل مؤهل ومتخصص، نهدف إلى بناء علاقات طويلة الأمد مع عملائنا وشركائنا التجاريين. رؤيتنا هي أن نكون الخيار الأول في السوق، من خلال الالتزام بقيمنا وتقديم حلول مبتكرة ومستدامة.
</p>
                <a href="#" class="btn btn-default btn-xl">اطلب خدمة الآن!</a>
            </div>
        </div>
    </div>
</section>
