<div class="text-white px-6 py-4 border-0 rounded flex fixed w-full z-200 scroll top-0 bg-blueGray-500">
  
  <span class="align-middle m-auto flex center rtl">
   هذه الصفحة عبارة عن استعراض لأحد تصاميم مواقع الوب. يمكنك العودة لموقعنا &nbsp
 <a href="https://rawajit.com/%D8%AA%D8%B5%D9%85%D9%8A%D9%85-%D9%88%D8%A8%D8%B1%D9%85%D8%AC%D8%A9-%D9%85%D9%88%D8%A7%D9%82%D8%B9-%D8%A7%D9%84%D9%88%D8%A8/">
 من هنا
  </a>
</span>

</div>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top mt-4">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">روابط الموقع</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">اسم الشركة</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                
               
               
                <li>
                    <a class="page-scroll" href="#contact">اتصل بنا</a>
                </li>
 <li>
                    <a class="page-scroll" href="#portfolio">أعمالنا</a>
                </li>
 <li>
                    <a class="page-scroll" href="#services">خدماتنا</a>
                </li>
<li>
                    <a class="page-scroll" href="#about">عن الشركة</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
