<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">خدماتنا</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
         <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>العناية الشخصية</h3>
                    <p class="text-muted">اهتمامنا براحتك ورفاهيتك هو جزء أساسي من خدماتنا. نقدم لك خدمات العناية الشخصية الشاملة التي تشمل جلسات استرخاء، علاج طبيعي، ورعاية صحية مخصصة.</p>
                </div>
            </div>
      
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>إدارة المساحات</h3>
                    <p class="text-muted">نحن نقدم خدمات شاملة لإدارة وتنظيم المساحات الخاصة بك، سواء كانت مكتبية أو تجارية.</p>
                </div>
            </div>
       <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>كتابة التقارير والتحليلات</h3>
                    <p class="text-muted">نوفر خدمات كتابة التقارير والتحليلات المهنية لمساعدتك في اتخاذ قرارات مستنيرة.</p>
                </div>
            </div>
      <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>قوالب مميزة</h3>
                    <p class="text-muted">تُحدَّث قوالبنا بانتظام لضمان استمرارها في العمل بسلاسة دون انقطاع.</p>
                </div>
            </div>
     
   
        </div>
    </div>
</section>
